# Default ignored files
/shelf/
/.idea/workspace.xml
/GoogleSearchhitsChecker_origin.ts
/knownGoogleHits.txt
/node_modules
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
